---
import { BASE_PATH } from '../assets/js/lib/config';
import Layout from '../layouts/Layout.astro';
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
import { animations } from './animations/index.astro';
import {
  PulsePreview,
  FloatPreview,
  MorphPreview,
  OrbitPreview,
} from '../components/animations/_index.astro';

gsap.registerPlugin(ScrollTrigger);

// meta
const title = 'ANIMEZUMI - Webサイトのアニメーション集';
const description =
  '様々なアニメーションテクニックを探求し、インスピレーションあふれる表現を集めたポートフォリオANIMEZUMI。';

// アニメーションサンプル（ANIMATIONS）セクションに表示するアイテム
const exampleAnimation = {
  PulsePreview: PulsePreview,
  FloatPreview: FloatPreview,
  MorphPreview: MorphPreview,
  OrbitPreview: OrbitPreview,
};

// 使用技術（Technologies)セクションに表示するアイテム
const useTech = [
  {
    title: 'Astro',
    description: 'FRAMEWORK',
  },
  {
    title: 'CSS Animation(Sass)',
    description: 'CORE',
  },
  {
    title: 'GSAP',
    description: 'CORE',
  },
  {
    title: 'SVG Animation',
    description: 'CORE',
  },
  {
    title: 'WebGL',
    description: 'ADVANCED',
  },
  {
    title: 'Three.js',
    description: 'ADVANCED',
  },
];
---

<Layout title={title} description={description}>
  <div class='container'>
    <!-- FirstView Section -->
    <section class='top__fv topFv'>
      <h1 class='topFv__title'>
        <span class='topFv__title--primary'>ANIME</span>
        <span class='topFv__title--secondary'>ZUMI</span>
      </h1>
      <p class='topFv__keyword'>ANIMATION IDEAS COLLECTION</p>
      <p class='topFv__description'>
        様々なアニメーションテクニックを探求し、<span
          class='topFv__description--break'
          >インスピレーションあふれる表現を集めたポートフォリオ</span
        >
      </p>
      <div class='topFv__cta'>
        <a href='./animations/' class='button button--primary'>作品を見る</a>
        <a href='./#about' class='button button--secondary'>詳しく知る</a>
      </div>
      <div class='topFv__scroll'>
        <p class='topFv__scroll--text'>SCROLL</p>
        <span class='topFv__scroll--line'></span>
      </div>
    </section>
    <!-- /FirstView Section -->
    <!-- Animations Section -->
    <section id='animations' class='top__animations topAnimations'>
      <div>
        <span>#1</span>
        <h2 class='topAnimations__title'>ANIMATIONS</h2>
      </div>
      <ul class='topAnimations__list'>
        {
          animations &&
            animations.map(
              (item, index) =>
                index < 4 && (
                  <li>
                    <a href={`${BASE_PATH}${item.link}`}>
                      <div>
                        {() => {
                          const Component =
                            exampleAnimation[
                              item.component as keyof typeof exampleAnimation
                            ];
                          return Component ? <Component /> : null;
                        }}
                      </div>
                      <h3>{item.title}</h3>
                      <p>{item.description}</p>
                    </a>
                  </li>
                )
            )
        }
      </ul>
      <div>
        <a href='./animations/'>もっと見る</a>
      </div>
    </section>
    <!-- /Animations Section -->
    <!-- About Section -->
    <section id='about' class='about'>
      <div>
        <h2>ABOUT</h2>
        <span>#2</span>
      </div>
      <section>
        <h3>「ズミ」は宮古島の方言で「最高」を意味します。</h3>
        <p>
          Animezumiは、クリエイティブなアニメーションを追求し、表現の可能性を広げるプロジェクトを目指しています。
        </p>
        <p>
          モーションデザイン、インタラクティブアニメーション、エフェクトなど、さまざまな技術を組み合わせた作品を集めています。
        </p>
        <div>
          <p>アニメーション + ズミ（最高） = <span>ANIMEZUMI</span></p>
        </div>
      </section>
      <section>
        <h3>Technologies</h3>
        <dl>
          {
            useTech.map((item) => (
              <>
                <dt>{item.title}</dt>
                <dd>{item.description}</dd>
              </>
            ))
          }
        </dl>
      </section>
    </section>
    <!-- /About Section -->
  </div>
</Layout>

<style lang='scss'>
  @use '../assets/css/index.scss';
  @use '../assets/css/pages/_top.scss';
  @use '../assets/css/components/_card.scss';
</style>
